# PostgreSQL

POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database

# Redis

REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT

JWT_SECRET=your_jwt_secret
